
.form *{
    outline: none;
    
}

html{
    overflow: auto;
    
}
.login{
    transform: translateX(-50%);
}

.MuiFormLabel-root[data-shrink = "false"]{
    left: 100% !important;
    transform: translate(-100% , 1em) !important; 
}
.MuiFormLabel-root[data-shrink = "true"]{
    left: 100% !important;
    transform: translate(-100% , -5px) !important; 
}